src/main/mule/update-covide-case.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<flow name="update-covide-caseFlow" doc:id="08a35537-39df-4d09-9711-beea3539398d" >
		<http:listener doc:name="Listener" doc:id="939f96b0-daec-477d-ac1b-135cc9b42271" config-ref="HTTP_Listener_config" allowedMethods="PUT" path="v1/cases">
			<http:response statusCode="#[vars.code]" reasonPhrase='#[vars.reason]' >
			</http:response>
		</http:listener>
		<logger level="INFO" doc:name="start logger" doc:id="9482081e-c8df-4742-8dfa-51269148a402" message="#[payload.employee.employeeId.@grade]"/>
		<set-payload value="SUCCESS-navitha" doc:name="Set Payload" doc:id="13486469-9d8f-41f9-9a2d-d878330db812" />
		<set-variable value="200" doc:name="Set Variable" doc:id="64c71576-8819-473d-a5b9-6c412da75ec1" variableName="code"/>
		<set-variable value="ok" doc:name="Set Variable" doc:id="cd83dfda-2366-4a15-8c9a-e07a4670d564" variableName="reason"/>
	</flow>
</mule>
